<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body style="display: flex;justify-content: space-evenly;">
    <div>
        <h1>Submit Code</h1>
        <form method="post" id="codeForm">
            <select name="lang">
                <option value="python" {% if data.lang == 'python' %}selected="selected"{% endif %}>Python</option>
                <option value="cpp" {% if data.lang == 'cpp' %}selected="selected"{% endif %}>Cpp</option>
                <option value="java" {% if data.lang == 'java' %}selected="selected"{% endif %}>Java</option>
                <option value="c" {% if data.lang == 'c' %}selected="selected"{% endif %}>C</option>
                <option value="javascript" {% if data.lang == 'javascript' %}selected="selected"{% endif %}>JavaScript</option>
            </select><br>
            <textarea name="code" id="" cols="80" rows="30">{{data.code}}</textarea><br>
            <input type="number" name="question" value="{{data.question}}" ><br>
            <div style="display: none;">
                <input type="number" name="user" value="1" ><br>
                <input type="text" name="duration" value="10:00" ><br>
            </div>
            <input type="submit" >
        </form>
    </div>
    <div style="width: 35vw;white-space: pre-line;">
        <h1 style="margin-bottom: 0;">Result: {{result.1}}</h1>
        <p style="height: 65vh;overflow: scroll;">{{result.0}}</p>
    </div>
</body>
</html>